<div id="show_stock">
    <ul>
        <%- @products.each do |product| %>
            <li>
                <%= link_to product_path(product), target: '_blank' do %>
                    <%= small_image(product) %>
                <% end %>
                <%- product.variants.select(&:in_stock?).each_with_index do |variant,index| %>
                    |
                    <%= variant.sku.to_s %>
                    (
                    <%- variant.option_values.each do |option_value| %>
                        <%= option_value.presentation %>
                    <%- end %>
                    ) =>
                    <%= variant.in_stock? ? variant.total_on_hand : 'Out of stock' %>
                <%- end %>
            </li>
        <%- end %>
    </ul>
</div>