<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

        <%= csrf_meta_tags %>
        <title>REFUND PAYMENT</title>
        <%= stylesheet_link_tag 'admin/pos/refund/all' %>

        <%= javascript_include_tag 'admin/pos/refund/all' %>
    </head>
    <body>
        <h1>CREATE REFUND</h1>
        <div class="errors">
            <%= flash[:error] if flash[:error].present? %>
            <%= flash[:notice] if flash[:notice].present? %>
        </div>
        <div class="refund">
            <%= yield %>
        </div>
    </body>
</html>